.page-link, .page-item{
  cursor: pointer;
  color: green;
}

.page-item:hover{
  color: white;
  background-color: green;
}

.active-pagination{
  color: white;
  background-color: green;
}

.alert, .alert-danger{
  display: flex;
  justify-content: center;
  min-width: 400px;
}